.drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

.file {
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}

.file_collector {
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}