.drop-zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

.file {
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}

.file-collector {
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}

.footer {
  font-size: 50%;
  display: block;
}


.left {
   width: 49%;
   border: 1px solid;
   display: inline-block;
   vertical-align: top;
}

.right {
   width: 49%;
   border: 1px solid;
   display: inline-block;
   vertical-align: top;
}

.logs {
  border: 1px dotted;
  background-color:  lightgray;
  padding-bottom: 10px;
}

tr:nth-of-type(even) {
  background-color: #F9F9F9;
}

tr.survived:nth-of-type(even) {
    background-color: red;
}

.survived {
  background-color: red;
}

.save {
  text-align: right;
  float: right;
  font-size: 50%;
}

.comparator {
  width: 100%;
}

.comparator-layout {
  width: 100%;
  border: 1px solid;
}

.comparator-layout thead td, #execution thead td {
    text-align: center;
    font-weight: bold;
}

.comparator-layout tbody td {
  border: 1px dotted;
}

.ropTable td {
  white-space: nowrap;
}

#execution table {
  width: 100%;
}

#execution td.intact {
  background-color: red;
}

#execution td.broken {
  background-color: green;
}
