.drop-zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

.file {
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}

.file-collector {
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}

.footer {
  font-size: 50%;
  display: block;
}


.left {
   width: 49%;
   border: 1px solid;
   display: inline-block;
   vertical-align: top;
}

.right {
   width: 49%;
   border: 1px solid;
   display: inline-block;
   vertical-align: top;
}

.logs {
  border: 1px dotted;
  background-color:  lightgray;
  padding-bottom: 10px;
}

tr:nth-of-type(even) {
    background: #F9F9F9;
}

.save {
  text-align: right;
  float: right;
  font-size: 50%;
}
