.drop-zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

.file {
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}

.file-collector {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.footer {
  font-size: 70%;
  display: block;
}


.left {
   width: 49%;
   border: 1px solid;
   display: inline-block;
   vertical-align: top;
}

.right {
   width: 49%;
   border: 1px solid;
   display: inline-block;
   vertical-align: top;
}

.logs {
  border: 1px dotted;
  background-color:  lightgray;
  padding-bottom: 10px;
}

tr:nth-of-type(even) {
  background-color: #F9F9F9;
}

.survived, tr.survived:nth-of-type(even) {
    background-color: red;
}

.moved,  tr.moved:nth-of-type(even) {
  background-color: orange;
}

.save {
  text-align: right;
  float: right;
  font-size: 50%;
}

.comparator {
  width: 100%;
}

.comparator-layout {
  width: 100%;
  border: 1px solid;
}

.comparator-layout thead td, #execution thead td {
    text-align: center;
    font-weight: bold;
}

.comparator-layout tbody td {
  border: 1px dotted;
}

.ropTable td {
  white-space: nowrap;
}

#execution table {
  width: 100%;
}

#execution td.intact {
  background-color: red;
}

#execution td.broken {
  background-color: green;
}

.gadget-filter {
  font-size: 70%;
}

.warning {
  font-style: italic;
  color: red;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
    background-color: #CDD0DF;
    color: #1a2c75;
    font-size: 50%;
    vertical-align: top;
    border-radius: 2px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #E2EDF4;
    color: #3a3b40;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: Open Sans, sans-serif;

    width: 200px;
    font-size: 150%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
